:root{
  --main-color:#9261f5
}
body{
  background-color:var(--main-color);
  font-family: "Exo 2", serif;
}
section form button {
  background-color: var(--main-color);
  color: white;
  padding: 10px 35px;
  border: 1px solid #ccc;
}
section form input:focus{
  box-shadow: 0 0 0 5px #9261f591 !important;

}
.section-customer .icon{
  padding: 5px 10px;
  color: #fff;
  background-color: var(--main-color);
  cursor: pointer;
}
.section-customer .customer-input{
  cursor: pointer;
  position: relative;
}
.section-customer .customer-input::after{
  content: "click to complet";
  background-color: black;
  padding: 5px;
  top: 100%;
  left: 0;
  position: absolute;
  font-size: 8px;
  color: #fff;
  text-align: center;
  text-wrap: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: opacity .3s;
}
.section-customer .customer-input:hover:after{
  opacity: 1;
}
.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  border-width: 3px 2px 3px 2px;
  border-style: solid dotted solid dotted;
  border-color: #de3500 rgba(255, 255, 255,0.3) #fff rgba(151, 107, 93, 0.3);
  border-radius: 50%;
  box-sizing: border-box;
  animation: 1s rotate linear infinite;
}
.loader:before , .loader:after{
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  border: 10px solid transparent;
  border-bottom-color:#fff;
  transform: translate(-10px, 19px) rotate(-35deg);
}
.loader:after {
  border-color: #de3500 #0000 #0000 #0000 ;
  transform: translate(32px, 3px) rotate(-35deg);
}
 @keyframes rotate {
  100%{    transform: rotate(360deg)}
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .6);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
#progressBar{
  height: 10px;
  background-color: #9261f55a;
  border-radius: 5px;
  margin-top: 10px;
  overflow: hidden;
} 
#progressBar #progress{
  height: inherit;
  background-color: #641df1;
  width: 0;

}
.status-number {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  background-color: var(--main-color);
  color: #fff;

}